body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2px;
    background-color: black;
}

#btn {
    color: goldenrod;
    text-shadow: 0 0 10px orange;
    font-size: 32px;
    font-family: serif;
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
    transition: 0.2s;
    padding: 15px 40px;
    cursor: pointer;
    z-index: 0;
    border-radius: 22px;
    background: none;
    border: none;
}

#btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    top: 0;
    border-radius: 20px;
}

#btn::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00CB, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(9px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
    opacity: 0.7;
    animation: glow 20s linear infinite;
}

@keyframes glow {
    0%   { background-position: 0 0; }
    50%  { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#btn:hover::before {
    opacity: 2;
}

#btn:active::after {
    background: transparent;
}

#btn:active {
    color: black;
    font-weight: bold;
}
